Repository shanmugamve2000/maxq-portfolio-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD, nx affected --target=lint-styles --base=HEAD

.lintstagedrc.json:

{
"{apps,libs,tools}/**/*.{ts,tsx,jsx,json,js}":  [
   "nx format:write --base=HEAD", 
   "nx affected --target=lint --base=HEAD "

],
"{apps,libs,tools}/**/*.{css,scss}":  [   "nx affected --target=lint-styles --base=HEAD "
]

}

fixded
  .huskyrc
  apps/registration/app/page.module.css
  package-lock.json
  package.json
Due: nx affected --target=lint-styles --base=HEAD

fixed
  apps/registration/app/page.tsx
Due: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD

sss
  apps/common/components/header/header.tsx
Due: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD

fixed
  apps/registration-e2e/cypress.config.ts
  apps/registration-e2e/project.json
  apps/registration-e2e/src/e2e/app.cy.ts
  apps/registration-e2e/src/fixtures/example.json
  apps/registration-e2e/src/support/app.po.ts
  apps/registration-e2e/src/support/commands.ts
  apps/registration-e2e/src/support/e2e.ts
  apps/registration-e2e/tsconfig.json
  apps/registration/app/api/hello/route.ts
  apps/registration/app/global.css
  apps/registration/app/layout.tsx
  apps/registration/app/page.module.css
  apps/registration/app/page.test.tsx
  apps/registration/app/page.tsx
  apps/registration/index.d.ts
  apps/registration/jest.config.ts
  apps/registration/next-env.d.ts
  apps/registration/next.config.js
  apps/registration/project.json
  apps/registration/public/favicon.ico
  apps/registration/tsconfig.json
  apps/registration/tsconfig.spec.json
  nx.json
Due: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD, nx affected --target=lint-styles --base=HEAD

fixed
  apps/common/components/header/header.tsx
Due: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD

registration
  apps/registration-e2e/.eslintrc.json
  apps/registration-e2e/cypress.config.ts
  apps/registration-e2e/project.json
  apps/registration-e2e/src/e2e/app.cy.ts
  apps/registration-e2e/src/fixtures/example.json
  apps/registration-e2e/src/support/app.po.ts
  apps/registration-e2e/src/support/commands.ts
  apps/registration-e2e/src/support/e2e.ts
  apps/registration-e2e/tsconfig.json
  apps/registration/.eslintrc.json
  apps/registration/app/api/hello/route.ts
  apps/registration/app/global.css
  apps/registration/app/layout.tsx
  apps/registration/app/page.module.css
  apps/registration/app/page.tsx
  apps/registration/index.d.ts
  apps/registration/jest.config.ts
  apps/registration/next-env.d.ts
  apps/registration/next.config.js
  apps/registration/project.json
  apps/registration/public/.gitkeep
  apps/registration/public/favicon.ico
  apps/registration/tsconfig.json
  apps/registration/tsconfig.spec.json
Due: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD, nx affected --target=lint-styles --base=HEAD

updated
  apps/common/components/header/header.tsx
Due: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD

fixed
  .huskyrc
  apps/common/components/header/header.tsx
Due: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD

fxied
  .huskyrc
  apps/registration/app/layout.tsx
  apps/registration/tsconfig.json
Due: nx format:write --base=HEAD, nx affected --target=lint --base=HEAD

Create google.yml
  .github/workflows/google.yml
Due: none

Update google.yml
  .github/workflows/google.yml
Due: none
